@(title: String, icon: String= "", scripts: Html = Html(""), styles: Html = Html(""))(content: Html)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current
@import controllers.LangControll.GetLangFromCookies

@navItem(url: String, icon: String, title:String) = {
@if(request.path==url) {
    <li class="active">
    } else {
    <li>
    }
    <a href="@url" title="@title">
        <span class="sidebar-text">
        @if(request.path==url){
            <i class="glyphicon glyphicon-@icon"></i>
            @title
        } else {
            <span class="visible-xs visible-lg">
                <i class="glyphicon glyphicon-@icon"></i>
                @title
            </span>

            <span class="hidden-xs hidden-lg">
                <i class="glyphicon glyphicon-@icon"></i>
            </span>
        }
        </span>
    </a>
</li>
}

@navItemLang(url: String, icon: String, title:String) = {
@if(request.path==url) {
    <li class="active">
} else {
    <li>
    }
    <a href="@url">
    @if(request.path==url){
        <img src="@icon" height="30px" width="30px" class="submenu-title"> @title
    } else {
        <img src="@icon" height="30px" width="30px" class="submenu-title"> @title
        }
    </a>
</li>
}

@getlang() = {
@GetLangFromCookies(request.cookies)
}

@exchangeStyles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/jquery.pnotify.default.css")">
}

@exchangeScripts = {
    <script src="@routes.Assets.at("js/vendor/jquery.pnotify.js")"></script>
    <script src="@routes.Assets.at("js/vendor/jquery.qrcode-0.10.1.min.js")"></script>
    <script src="@routes.Assets.at("js/vendor/moment.min.js")"></script>
}

@_global_chrome(title, Html(scripts + exchangeScripts.body), Html(styles + exchangeStyles.body)) {

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-play"></i> <span> @Messages("directpay.terminology.applicationname")</span></a>
                    </div>
                    <div class="profile">
                        <div class="profile_info">
                            <span>@Messages("directpay.terminology.connectedto")</span>
                            <h2>@Messages("directpay.terminology.partner")</h2>
                        </div>
                        <div class="profile_pic">
                            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                    </div>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="@routes.Application.wallet().url"><i class="fa fa-money"></i> @Messages("chrome.exchange.navigation.dashboard.title") </a></li>
                                <li><a href="@routes.Application.user_settings().url"><i class="fa fa-question-circle-o"></i> @Messages("directpay.navigation.personalinfo.title") </a></li>
                                <li><a href="@routes.Application.user_list().url"><i class="fa fa-user"></i> @Messages("directpay.navigation.admin.userslist.title") </a></li>
                                <li><a href="@routes.Application.orders_list().url"><i class="fa fa-list-alt"></i> @Messages("directpay.navigation.admin.orderslist.title") </a></li>
                                <li><a><i class="fa fa-usd"></i> @Messages("chrome.exchange.navigation.dashboard.title") <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@routes.Application.wallet().url"><i class="fa fa-plus"></i> @Messages("directpay.navigation.overview.title") </a></li>
                                        <li><a href="@routes.Application.deposit().url"><i class="fa fa-plus"></i> @Messages("directpay.navigation.deposit.title") </a></li>
                                        <li><a href="@routes.Application.ccrypto().url"><i class="fa fa-random"></i> @Messages("directpay.navigation.converttocrypto.title") </a></li>
                                        <li><a href="@routes.Application.send().url"><i class="fa fa-upload"></i> @Messages("directpay.navigation.sendfunds.title") </a></li>
                                        <li><a href="@routes.Application.receive().url"><i class="fa fa-download"></i> @Messages("directpay.navigation.receivefunds.title") </a></li>
                                        <li><a href="@routes.Application.cfiat().url"><i class="fa fa-random"></i> @Messages("directpay.navigation.converttofiat.title") </a></li>
                                        <li><a href="@routes.Application.withdraw().url"><i class="fa fa-minus"></i> @Messages("chrome.exchange.navigation.withdraw.label") </a></li>
                                        <li><a href="@routes.Application.automatic().url"><i class="fa fa-flash"></i> @Messages("directpay.navigation.automatic.title") </a></li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-edit"></i> @Messages("chrome.exchange.navigation.account.title") <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@routes.Application.user_settings().url"><i class="fa fa-user"></i> @Messages("directpay.navigation.personalinfo.title") </a></li>
                                        <li><a href="@routes.Application.history().url"><i class="fa fa-list"></i> @Messages("chrome.exchange.navigation.history.label") </a></li>
                                        <li><a href="@routes.Application.account().url"><i class="fa fa-key"></i> @Messages("directpay.navigation.twofactorsecurity.title") </a></li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-info"></i> @Messages("directpay.navigation.support.title") <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html"><i class="fa fa-cubes"></i> @Messages("chrome.navigation.about.title") </a></li>
                                        <li><a href="index.html"><i class="fa fa-question-circle"></i> @Messages("chrome.exchange.navigation.faq.title") </a></li>
                                        <li><a href="index.html"><i class="fa fa-book"></i> @Messages("directpay.navigation.terms.title") </a></li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-cogs"></i> @Messages("directpay.navigation.admin.adminpanel.title") <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html"><i class="fa fa-globe"></i> @Messages("directpay.navigation.admin.management.title") </a></li>
                                        <li><a href="@routes.Application.user_list().url"><i class="fa fa-user"></i> @Messages("directpay.navigation.admin.userslist.title") </a></li>
                                        <li><a href="@routes.Application.orders_list().url"><i class="fa fa-list-alt"></i> @Messages("directpay.navigation.admin.orderslist.title") </a></li>
                                    </ul>
                                </li>
                                <li><a><i class="fa fa-flag"></i>  @Messages("terminology.language")<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @for(lang <- Lang.availables) {
                                            @navItemLang("/chlang/".concat(lang.code.toString), routes.Assets.at("img/flags/")+lang.language.concat(".png"), Messages("chrome.language."++ lang.language.toString))
                                        }
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars" title="@Messages("##expand_menu")"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@routes.Assets.at("img/flags/" + getlang() + ".png")" alt="" class="img-responsive" title="@Messages("terminology.language")">
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                @for(lang <- Lang.availables) {
                                    @navItemLang("/chlang/".concat(lang.code.toString), routes.Assets.at("img/flags/")+lang.language.concat(".png"), Messages("chrome.language."++ lang.language.toString))
                                }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            @content
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    @globals.country_system_name
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>

    </div>
}

