@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@import securesocial.core.UsernamePasswordProvider
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/account.js")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.account.title"), "user", scripts) {
        <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-key"> &nbsp;</i> @Messages("directpay.security.securitysettings")</h3>
        </div>
    </div>




    <div class="clearfix"></div>
    <div class="row">
            <!-- Start of form -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel" style="@globals.country_appearance_background_4">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-key"></i> &nbsp; @Messages("directpay.security.securitysettings")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p id="acct-info"></p>
                </div>
            </div>
        </div>
            <!-- end of Form -->



            <!-- Instructions -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel" style="background: @globals.country_appearance_background_5">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-book"></i> &nbsp; @Messages("terminology.instructions")</h2>
                    <ul class="nav navbar-right panel_toolbox"><li><a class="collapseExtraInfo-link" title="@Messages("terminology.extrainformation")"><i class="fa fa-plus-square-o"></i></a></li><li><a class="collapse-link" title="@Messages("terminology.minimizethisboard")"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link" title="@Messages("terminology.closethisboard")"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.security.explanation1", globals.country_system_name)</p>

                    <br><span class="calc_mid_destak_info">@Messages("directpay.security.step1")</span>
                    <p>@Messages("directpay.security.step1.explanation1")</p>

                    <br><span class="calc_mid_destak_info">@Messages("directpay.security.step2")</span>
                    <p>@Messages("directpay.security.step2.explanation1")</p>

                    <br><span class="calc_mid_destak_info">@Messages("directpay.security.step3")</span>
                    <p>@Messages("directpay.security.step3.explanation1")</p>

                    <br><span class="calc_mid_destak_info">@Messages("directpay.security.step4")</span>
                    <p>@Messages("directpay.security.step4.explanation1", globals.country_system_name)</p>
                    <div class="x_extrainfo_content" style="display: none;">
                        <br><span class="text_additional_info">@Messages("directpay.overview.additionalinfo")</span>
                        <p>@Messages("directpay.security.extrainfo.explanation1")</p>
                        <p>@Messages("directpay.security.extrainfo.explanation2", globals.country_system_name)</p>
                        <p>@Messages("directpay.security.extrainfo.explanation3")</p>
                        <p>@Messages("directpay.security.extrainfo.explanation4", globals.country_system_name)</p>
                    </div>
                </div>
            </div>
        </div>
            <!-- end of Instructions -->
    </div>



    <div class="disclaimer-text">
        <br>
        <p>@Messages("terminology.disclaimer"):</p>
        <p>@Messages("directpay.security.disclaimer1", globals.country_system_name)</p>
        <p>@Messages("directpay.security.disclaimer2", globals.country_system_name)</p>
    </div>
    <div class="clearfix"></div>


    <div class="modal fade" id="pgp-add-modal" tabindex="-1" role="dialog" aria-labelledby="pgp-add-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@Messages("pgp.add.title")</h4>
                </div>
                <div class="modal-body">

                    <p>@Messages("pgp.purpose")</p>

                    <form role="form">
                        <div class="from-group">
                            <label for="password" class="control-label">@Messages("terminology.password")</label>
                            <input class="form-control password" name="password" type="password"/>
                        </div>
                        <div class="from-group code-group">
                            <label for="code" class="control-label">@Messages("terminology.code")</label>
                            <input class="form-control code" name="code" type="text"/>
                        </div>
                        <div class="from-group">
                            <label for="pgpkey" class="control-label">@Messages("terminology.pgp_public_key")</label>
                            <textarea class="form-control pgpkey" name="pgpkey"></textarea>
                        </div>
                        <!-- this hack makes sure that the submit event is triggered when you press enter -->
                        <input type="submit" class="hidden"/>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("terminology.cancel")</button>
                    <button type="button" class="btn btn-primary">@Messages("pgp.add.title")</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pgp-remove-modal" tabindex="-1" role="dialog" aria-labelledby="pgp-remove-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@Messages("pgp.remove.title")</h4>
                </div>
                <div class="modal-body">

                    <form role="form">
                        <div class="from-group">
                            <label for="password" class="control-label">@Messages("terminology.password")</label>
                            <input class="form-control password" name="password" type="password"/>
                        </div>
                        <div class="from-group code-group">
                            <label for="code" class="control-label">@Messages("terminology.code")</label>
                            <input class="form-control code" name="code" type="text"/>
                        </div>
                        <!-- this hack makes sure that the submit event is triggered when you press enter -->
                        <input type="submit" class="hidden"/>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("terminology.cancel")</button>
                    <button type="button" class="btn btn-primary">@Messages("pgp.remove.title")</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tfa-enable-modal" tabindex="-1" role="dialog" aria-labelledby="tfa-enable-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" id="tfa-disable-modal" tabindex="-1" role="dialog" aria-labelledby="tfa-disable-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tfa-disable-modal">@Messages("tfa.off.title")</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("terminology.cancel")</button>
                    <button type="button" class="btn btn-primary">@Messages("tfa.off.title")</button>
                </div>
            </div>
        </div>
    </div>


    <script id="totp-otps-template" type="text/x-handlebars-template">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="tfa-enable-modal">@Messages("tfa.on.title")</h4>
        </div>
        <div class="modal-body">
            <p class="text-justify">@Messages("tfa.otps.explanation")</p>
            <div class="center-block"><ol>{{#otps}}<li>{{.}}</li>{{/otps}}</ol></div>
        <div class="modal-footer">
            <nav>
                <ul class="pager">
                    <div class="pull-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("terminology.cancel")</button>
                    </div>
                    <li class="next"><a id="tfa-printing-complete" href="#">@Messages("tfa.codes.next") <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>
    </script>

    <script id="totp-secret-template" type="text/x-handlebars-template">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="tfa-enable-modal">@Messages("tfa.on.title")</h4>
        </div>
        <div class="modal-body">

            <p class="text-justify">@Messages("tfa.google.explanation")</p>
            <div class="center-block qr-code" id="tfa-enable-qr"></div>
            <div class="small text-center">{{secret}}</div>
            <form role="form">
                <div class="from-group">
                    <label for="code" class="control-label">@Messages("terminology.code")</label>
                    <input class="form-control code" name="code" type="text"/>
                </div>
                <div class="from-group">
                    <label for="password" class="control-label">@Messages("terminology.password")</label>
                    <input class="form-control password" name="password" type="password"/>
                </div>
                <!-- this hack makes sure that the submit event is triggered when you press enter -->
                <input type="submit" class="hidden"/>
            </form>
            </div>

        <div class="modal-footer">
            <nav>
                <ul class="pager">
                    <li class="previous"><a id="tfa-printing-incomplete" href="#"><span aria-hidden="true">&larr;</span> @Messages("tfa.codes.prev")</a></li>
                    <li class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages("terminology.cancel")</button>
                        <button type="button" class="btn btn-primary">@Messages("tfa.on.title")</button>
                    </li>
                </ul>
            </nav>

        </div>
    </script>

    <script id="turn-off-tfa-template" type="text/x-handlebars-template">
        <p class="text-justify">@Messages("tfa.off.explanation")</p>
        <form role="form">
            <div class="from-group">
                <label for="code" class="control-label">@Messages("terminology.code")</label>
                <input class="form-control code" name="code" type="text"/>
            </div>
            <div class="from-group">
                <label for="password" class="control-label">@Messages("terminology.password")</label>
                <input class="form-control password" name="password" type="password"/>
            </div>
            <!-- this hack makes sure that the submit event is triggered when you press enter -->
            <input type="submit" class="hidden"/>
        </form>
    </script>


    <script id="acct-info-template" type="text/x-handlebars-template">
        <p>@Messages("directpay.security.accountemail"): <span class="calc_mid_destak_info">{{email}}</span></p>
        <!--<p>@Messages("terminology.verificationLevel"): {{verification}}</p>-->

        <p>
            <a href="@controllers.routes.PasswordChange.page().absoluteURL(UsernamePasswordProvider.sslEnabled)" class="btn btn-default">
                @Messages("auth.passwordChange.title")
            </a>
        </p>

        <div class="ln_solid"></div>

        <p>
            {{#TFAEnabled}}
                <p>@Messages("exchange.account.tfa_login"): <span class="calc_mid_destak_info">@Messages("terminology.active")</span></p>
                <button type="submit" class="btn btn-danger" id="turnoff-tfa">@Messages("tfa.off.title")</button>
            {{/TFAEnabled}}
            {{^TFAEnabled}}
                <p>@Messages("exchange.account.tfa_login"): <span class="calc_mid_destak_info">@Messages("terminology.disabled")</span></p>
                <button type="submit" class="btn btn-primary" id="turnon-tfa">@Messages("tfa.on.title")</button>
            {{/TFAEnabled}}
        </p>

        <br>

        <p>
            {{#pgp}}
            <p>@Messages("terminology.pgp_public_key"):</p>
            <span class="calc_mid_destak_info"><pre>{{.}}</pre></span>
            <button type="submit" class="btn btn-danger" id="turnoff-pgp">@Messages("pgp.remove.title")</button>
            {{/pgp}}
            {{^pgp}}
            <p>@Messages("terminology.pgp_public_key"): <span class="calc_mid_destak_info">@Messages("terminology.none")</span></p>
            <button type="submit" class="btn btn-primary" id="turnon-pgp">@Messages("pgp.add.title")</button>
            {{/pgp}}
        </p>


        <div class="ln_solid"></div>

        <p>
            {{#onMailingList}}
            <p>@Messages("directpay.security.receiveupdatesfrommailinglist", globals.country_system_name): <span class="calc_mid_destak_info">@Messages("terminology.enabled")</span></p>
            <button type="submit" class="btn btn-default" id="turnoff-emails">@Messages("emails.off.title")</button>
            {{/onMailingList}}
            {{^onMailingList}}
            <p>@Messages("directpay.security.receiveupdatesfrommailinglist", globals.country_system_name): <span class="calc_mid_destak_info">@Messages("terminology.disabled")</span></p>
            <button type="submit" class="btn btn-default" id="turnon-emails">@Messages("emails.on.title")</button>
            {{/onMailingList}}
        </p>

    </script>



}