@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.at("js/exchange_index.js?v=1.0.0.1")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.dashboard.title"), "dashboard", scripts) {




    <div class="normal-text"><br><br>
        <p>To deposit money at your Direct Pay account, follow the steps:</p>
        <p>1 - Have your registry information complete and up to date. ##status</p>
        <p>2 - Do the deposit in cash or transfer from your own personal bank account.</p>
    </div>

    <div id="balance" class="panel panel-default">
        <script id="balance-template" type="text/x-handlebars-template">
            <div class="panel-heading">@Messages("terminology.balance")</div>
            <table id="table_balance" class="table table-striped responsive">
                <thead>
                    <tr>
                        <th width="25%">@Messages("terminology.currency")</th>
                        <th width="25%">@Messages("terminology.total")</th>
                        <th class="hidden-xs" width="20%">@Messages("terminology.hold")</th>
                        <th width="30%">@Messages("terminology.available")</th>
                    </tr>
                </thead>
                <tbody>
                {{#each this}}
                    <tr id="currency={{currency}}">
                        <td width="25%"><a class="show-menu" href="#" currency-id="{{currency}}"><img src="@routes.Assets.at("img/{{currency}}.png")" height="20px" width="20px"> {{currency}}</td>
                        <td width="25%">{{amount}}</td>
                        <td class="hidden-xs" width="20%">{{hold}}</td>
                        <td width="30%">{{available}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </script>
    </div>

}
