@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.at("js/exchange_index.js?v=1.0.0.1")"></script>
    <script src="@routes.Assets.at("js/wallet.js?v=1.0.0.1")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.dashboard.title"), "dashboard", scripts) {
        <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-tasks"> &nbsp;</i> @Messages("chrome.exchange.navigation.dashboard.title")</h3>
        </div>
    </div>



    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel fixed_height_320" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-book"></i> &nbsp; @Messages("terminology.instructions")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.overview.explanation1", globals.country_system_name,  globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.overview.explanation2")</p>
                </div>
            </div>
        </div>

        <!-- Wallet -->
        <input type="hidden" id="hidden_currency_code" value="@globals.country_currency_code"></input>
        <input type="hidden" id="hidden_currency_crypto" value="@globals.country_currency_crypto"></input>
        <input type="hidden" id="hidden_wallet_available" value="0"></input>
        <input type="hidden" id="hidden_wallet_onhold" value="0"></input>
        <input type="hidden" id="hidden_wallet_crypto" value="0"></input>
        <input type="text" id="hidden_wallet_total" value="@globals.country_nominal_fee_withdrawal_workbank"></input>
        <input type="text" id="hidden_X" value="@globals.country_nominal_fee_withdrawal_workbank"></input>
        <input type="hidden" id="hidden_nominal_fee_doc_verification" value="@globals.country_nominal_fee_doc_verification"></input>
        <input type="hidden" id="hidden_nominal_fee_withdrawal_workbank" value="@globals.country_nominal_fee_withdrawal_workbank"></input>
        <input type="hidden" id="hidden_nominal_fee_withdrawal_notworkbank" value="@globals.country_nominal_fee_withdrawal_notworkbank"></input>
        <input type="hidden" id="hidden_fee_deposit_percent" value="@globals.country_fee_deposit_percent"></input>
        <input type="hidden" id="hidden_fee_withdrawal_percent" value="@globals.country_fee_withdrawal_percent"></input>
        <input type="hidden" id="hidden_fee_send_percent" value="@globals.country_fee_send_percent"></input>
        <input type="hidden" id="hidden_fee_tofiat_percent" value="@globals.country_fee_tofiat_percent"></input>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div  id="wallet" class="x_panel" style="@globals.country_appearance3">
                <div class="x_title">
                    <h2><i class="fa fa-money"></i> &nbsp; @Messages("terminology.wallet.yourwallet")</h2>
                    <ul class="nav navbar-right panel_toolbox"><li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="wallet_destak_icon"><i class="fa fa-money"></i></div>
                    <table id="table_wallet" class="table-wallet">
                        <tr><td>@Messages("terminology.wallet.available"): &nbsp; </td><td> &nbsp; @globals.country_currency_symbol &nbsp; </td><td class="wallet_destak"><span id="available_fiat"></span></td></tr>
                        <tr><td>@Messages("terminology.wallet.onhold"): &nbsp; </td><td> &nbsp; @globals.country_currency_symbol &nbsp; </td><td><span id="hold_fiat"></span></td></tr>
                        <tr><td>@Messages("terminology.wallet.crypto"): &nbsp; </td><td></td><td><span id="amount_crypto"></span></td><td><span class="wallet_crypto_name"> &nbsp; @globals.country_currency_crypto</td></tr>
                        <tr><td>@Messages("terminology.wallet.total"): &nbsp; </td><td></td><td class="wallet_destak_sum"><span id="amount_total"></span></td><t</tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="balance">
            <script id="balance-template" type="text/x-handlebars-template"></script>
        </div>
        <!-- end of Wallet -->

    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="@globals.country_appearance1">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-flash"></i> &nbsp; @Messages("directpay.overview.choosemanualorautomatic")</h2>
                    <div class="clearfix"></div>
                </div>
                <p>@Messages("directpay.overview.chooseoptions")</p>
                </p><div class="x_content">
                    <div class="radio">
                        <label>
                            <input type="radio" checked="" value="optionAutomatic" id="optionAutomatic" name="optionsAutomaticManual" onchange="showHide();"> @Messages("directpay.overview.optionautomatic")
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" checked="checked" value="optionManual" id="optionManual" name="optionsAutomaticManual"  onchange="showHide();"> @Messages("directpay.overview.optionmanual")
                        </label>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div class="row" id="manual_operations">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-plus"></i> &nbsp; @Messages("chrome.exchange.navigation.deposit.label")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.overview.deposit.explanation1", globals.country_system_name) @Messages("directpay.deposit.explanation1", globals.country_currency_symbol, globals.country_critical_value2)</p>
                    <p>@Messages("directpay.overview.deposit.explanation2")</p>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.deposit().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.depositpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-random"></i> &nbsp; @Messages("directpay.navigation.converttocrypto.title") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.ccrypto.explanation1", globals.country_currency_symbol, globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.ccrypto.explanation2", globals.country_currency_symbol, globals.country_currency_crypto)</p>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.ccrypto().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.conversionpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-upload"></i> &nbsp; @Messages("directpay.send.sendtopartner") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.send.explanation1", globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.send.explanation2", globals.country_currency_crypto)</p>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.send().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.sendpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-download"></i> &nbsp; @Messages("directpay.navigation.receivefunds.title") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.overview.receive.explanation1", globals.country_system_name)</p>
                    <p>@Messages("directpay.receive.linkstopartners")</p>
                    @if(globals.country_partner1 != "") {
                        <style> #box_partner1 { border-radius: 5px; background: #9af; color: #fff; font-size: 20px; vertical-align: middle; text-align: center; padding: 5px; margin: 10px; height: 40px;} #box_partner1:hover { background: #67f; color: #fff;  } </style>
                        <a href="@globals.country_partner1_url"><p id="box_partner1">@globals.country_partner1</p></a> }
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.receive().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.receivepage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-random"></i> &nbsp; @Messages("directpay.navigation.converttofiat.title", globals.country_currency_symbol)</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.cfiat.explanation1", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <p>@Messages("directpay.cfiat.explanation2", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.cfiat().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.conversionpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-minus"></i> &nbsp; @Messages("chrome.exchange.navigation.withdraw.label")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.withdraw.explanation1", globals.country_currency_symbol, globals.country_critical_value2)</p>
                    <p>@Messages("directpay.withdraw.explanation2", globals.country_currency_symbol,  globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.withdraw.explanation3", globals.country_currency_symbol)</p>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.withdraw().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.withdrawpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="automatic_operations">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_340" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-plus"></i> <i class="fa fa-upload"></i> &nbsp; @Messages("directpay.depositsend.depositconvertandsend")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.depositsend.explanation1", globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.depositsend.explanation2", globals.country_currency_symbol, globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.depositsend.explanation3")</p>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.deposit().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.depositsend") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_340" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-download"></i> <i class="fa fa-minus"></i> &nbsp; @Messages("directpay.receivewithdraw.receiveconvertandwithdraw") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.receivewithdraw.explanation1", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <p>@Messages("directpay.receivewithdraw.explanation2", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <p>@Messages("directpay.receivewithdraw.explanation3")</p>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <a href="@routes.Application.withdraw().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.receivewithdraw") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>show_fees();</script>

}
