@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.at("js/dashboard.js")"></script>
    <script src="@routes.Assets.at("js/wallet.js?v=1.0.0.1")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.dashboard.title"), "dashboard", scripts) {
    <input type="hidden" id="hidden_page" value="Dashboard"></input>
        <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-tasks"> &nbsp;</i> @Messages("chrome.exchange.navigation.dashboard.title")</h3>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <!-- Wallet -->
            <input type="hidden" id="hidden_fees_information"
            currency_code="@globals.country_currency_code"
            currency_crypto="@globals.country_currency_crypto"
            wallet_available="0"
            wallet_onhold="0"
            wallet_crypto="0"
            wallet_total="0"
            decimal_separator = "@globals.country_decimal_separator"
            minimum_value = "@globals.country_minimum_value.toString"
            critical_value1 = "@globals.country_critical_value1.toString"
            critical_value2 = "@globals.country_critical_value2.toString"
            preferential_bank1_code = "@globals.country_preferential_bank1_code"
            preferential_bank1_name = "@globals.country_preferential_bank1_name"
            preferential_bank2_code = "@globals.country_preferential_bank2_code"
            preferential_bank2_name = "@globals.country_preferential_bank2_name"
            preferential_bank3_code = "@globals.country_preferential_bank3_code"
            preferential_bank3_name = "@globals.country_preferential_bank3_name"
            preferential_bank4_code = "@globals.country_preferential_bank4_code"
            preferential_bank4_name = "@globals.country_preferential_bank4_name"
            nominal_fee_withdrawal_preferential_bank = "@globals.country_nominal_fee_withdrawal_preferential_bank.toString"
            nominal_fee_withdrawal_not_preferential_bank = "@globals.country_nominal_fee_withdrawal_not_preferential_bank.toString"
            fee_deposit_percent = "@globals.country_fee_deposit_percent.toString"
            fee_send_percent = "@globals.country_fee_send_percent.toString"
            fee_withdrawal_percent = "@globals.country_fee_withdrawal_percent.toString"
            fee_tofiat_percent = "@globals.country_fee_tofiat_percent.toString"
            ></input>
            <div id="wallet" class="x_panel" style="@globals.country_appearance3">
                <div class="x_title">
                    <h2><i class="fa fa-money"></i> &nbsp; @Messages("terminology.wallet.yourwallet")</h2>
                    <ul class="nav navbar-right panel_toolbox"><li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </li><li><a class="collapse-link" title="@Messages("terminology.minimizethisboard")"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link" title="@Messages("terminology.closethisboard")"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="wallet_destak_icon"><i class="fa fa-money"></i></div>
                    <table id="table_wallet" class="table-wallet">
                        <tr><td>@Messages("terminology.wallet.available"): &nbsp; </td><td> &nbsp; @globals.country_currency_symbol &nbsp; </td><td class="wallet_destak" style="text-align: right;"><span id="available_fiat"></span></td></tr>
                        <tr><td>@Messages("terminology.wallet.onhold"): &nbsp; </td><td> &nbsp; @globals.country_currency_symbol &nbsp; </td><td><span id="hold_fiat"></span>&nbsp;</td></tr>
                        <tr><td>@Messages("terminology.wallet.crypto"): &nbsp; </td><td></td><td><span id="amount_crypto"></span>&nbsp;</td><td><span class="wallet_crypto_name"> &nbsp; @globals.country_currency_crypto</td></tr>
                        <tr><td>@Messages("terminology.wallet.total"): &nbsp; </td><td></td><td class="wallet_destak_sum"><span id="amount_total"></span></td><t</tr>
                    </table>
                </div>
            </div>
            <div id="balance">
                <script id="balance-template" type="text/x-handlebars-template"></script>
            </div>
                <!-- end of Wallet -->


                <!-- Form -->
            <div class="x_panel" style="@globals.country_appearance1">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-flash"></i> &nbsp; @Messages("directpay.overview.choosemanualorautomatic")</h2>
                    <div class="clearfix"></div>
                </div>
                <p>@Messages("directpay.overview.chooseoptions")</p>
                <div class="x_content">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="checkbox"><label><input type="checkbox" class="flat" id="manualauto_mode" title="@Messages("directpay.usersettings.automatic.title")" @if(!securesocial.core.SecureSocial.currentUser.get.manualauto_mode) { checked="checked" }> <b>@Messages("directpay.usersettings.automatic.item")</b> - @Messages("directpay.usersettings.automatic.title2")</label></div>
                        </div>
                    </div>
                    <p class="class_automatic" style="display: @if(securesocial.core.SecureSocial.currentUser.get.manualauto_mode) {inline}">@Messages("directpay.overview.explainoptionautomatic")</p>
                    <p class="class_manual" style="display: @if(securesocial.core.SecureSocial.currentUser.get.manualauto_mode) {none}">@Messages("directpay.overview.explainoptionmanual")</p>
                 </div>
            </div>
                <!-- end of Form -->
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!-- Instructions -->
            <div class="x_panel" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-book"></i> &nbsp; @Messages("terminology.instructions")</h2>
                    <ul class="nav navbar-right panel_toolbox"><li><a class="collapseExtraInfo-link" title="@Messages("terminology.extrainformation")"><i class="fa fa-plus-square-o"></i></a></li><li><a class="collapse-link" title="@Messages("terminology.minimizethisboard")"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link" title="@Messages("terminology.closethisboard")"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <span class="text_additional_info">@Messages("directpay.overview.systemoverview")</span>
                    <p>@Messages("directpay.overview.explanation1", globals.country_system_name, globals.country_currency_name_plural, globals.country_name)</p>
                    <p>@Messages("directpay.overview.explanation2", globals.country_system_name, globals.country_currency_name_plural, globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.overview.explanation3", globals.country_system_name)</p>
                    <p>@Messages("directpay.overview.explanation4")</p>
                    <div class="x_extrainfo_content" style="display: none;">
                        <br><span class="text_additional_info">@Messages("directpay.overview.additionalinfo")</span>
                        <p>@Messages("directpay.overview.extraexplanation1", globals.country_system_name,  globals.country_currency_crypto)</p>
                        <p>@Messages("directpay.overview.extraexplanation2")</p>
                    </div>
                </div>
            </div>
            <!-- end of Instructions -->
        </div>
    </div>




    <div class="clearfix"></div>

            <!-- Manual Operations -->
    <div class="row" id="manual_operations">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-plus"></i> &nbsp; @Messages("chrome.exchange.navigation.deposit.label")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.overview.deposit.explanation1", globals.country_system_name) @Messages("directpay.deposit.explanation1", globals.country_currency_symbol, globals.country_critical_value2)</p>
                    <p>@Messages("directpay.overview.deposit.explanation2")</p>
                    <div class="text-center">
                        <a href="@routes.Application.deposit().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.depositpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-random"></i> &nbsp; @Messages("directpay.navigation.converttocrypto.title") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.tocrypto.explanation1", globals.country_currency_symbol, globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.tocrypto.explanation2", globals.country_currency_symbol, globals.country_currency_crypto)</p>
                    <div class="text-center">
                        <a href="@routes.Application.tocrypto().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.conversionpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-upload"></i> &nbsp; @Messages("directpay.send.sendtopartner") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.send.explanation1", globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.send.explanation2", globals.country_currency_crypto)</p>
                    <div class="text-center">
                        <a href="@routes.Application.send().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.sendpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-download"></i> &nbsp; @Messages("directpay.navigation.receivefunds.title") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.overview.receive.explanation1", globals.country_system_name)</p>
                    <p>@Messages("directpay.receive.linkstopartners")</p>
                    @if(globals.country_partner1 != "Not Set") {
                        <style> #box_partner1 { border-radius: 5px; background: @globals.country_partner1_color; color: #fff; font-size: 20px; vertical-align: middle; text-align: center; padding: 5px; margin: 10px; height: 40px;} #box_partner1:hover { background: #67f; color: #fff;  } </style>
                        <a href="@globals.country_partner1_url" target="_blank"><p id="box_partner1" title="@globals.country_partner1_info - @globals.country_partner1_url"><img src="/assets/img/carusel/@globals.country_partner1_picture" height="28px"> @globals.country_partner1</p></a> }
                    @if(globals.country_partner2 != "Not Set") {
                        <style> #box_partner2 { border-radius: 5px; background: @globals.country_partner2_color; color: #fff; font-size: 20px; vertical-align: middle; text-align: center; padding: 5px; margin: 10px; height: 40px;} #box_partner2:hover { background: #5f5; color: #fff;  } </style>
                        <a href="@globals.country_partner2_url" target="_blank"><p id="box_partner2" title="@globals.country_partner2_info - @globals.country_partner2_url"><img src="/assets/img/carusel/@globals.country_partner2_picture" height="28px"> @globals.country_partner2</p></a> }
                    <div class="text-center">
                        <a href="@routes.Application.receive().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.receivepage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-random"></i> &nbsp; @Messages("directpay.navigation.converttofiat.title", globals.country_currency_symbol)</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.tofiat.explanation1", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <p>@Messages("directpay.tofiat.explanation2", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <div class="text-center">
                        <a href="@routes.Application.tofiat().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.conversionpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_420" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-minus"></i> &nbsp; @Messages("chrome.exchange.navigation.withdraw.label")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.withdraw.explanation1", globals.country_currency_symbol, globals.country_critical_value2)</p>
                    <p>@Messages("directpay.withdraw.explanation2", globals.country_currency_symbol,  globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.withdraw.explanation3", globals.country_currency_symbol)</p>
                    <div class="text-center">
                        <a href="@routes.Application.withdraw().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.withdrawpage") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
                <!-- end of Manual Operations -->
    </div>


    <div class="row" id="automatic_operations">
            <!-- Automatic Operations -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_340" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-plus"></i> <i class="fa fa-upload"></i> &nbsp; @Messages("directpay.depositsend.depositconvertandsend")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.depositsend.explanation1", globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.depositsend.explanation2", globals.country_currency_symbol, globals.country_currency_crypto)</p>
                    <p>@Messages("directpay.depositsend.explanation3")</p>
                    <div class="text-center">
                        <a href="@routes.Application.deposit().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.depositsend") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel fixed_height_340" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-download"></i> <i class="fa fa-minus"></i> &nbsp; @Messages("directpay.receivewithdraw.receiveconvertandwithdraw") </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.receivewithdraw.explanation1", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <p>@Messages("directpay.receivewithdraw.explanation2", globals.country_currency_crypto, globals.country_currency_symbol)</p>
                    <p>@Messages("directpay.receivewithdraw.explanation3")</p>
                    <div class="text-center">
                        <a href="@routes.Application.withdraw().url"><button type="submit" class="btn btn-info">@Messages("directpay.overview.receivewithdraw") &nbsp; <i class="fa fa-chevron-right"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
            <!-- end of Automatic Operations -->
    </div>

}
