@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.at("js/fee_messages.js?v=1.0.0.1")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.deposit.title"), "dashboard", scripts) {
    <input type="hidden" id="hidden_page" value="@if(globals.preference_manual_operations) {D} else {DCS}"></input>
        <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-plus"> &nbsp;</i> @Messages("directpay.navigation.deposit.title")</h3>
        </div>
    </div>

    <input type="hidden" id="hidden_fees_information"
    currency_code="@globals.country_currency_code"
    currency_crypto="@globals.country_currency_crypto"
    decimal_separator = "@globals.country_decimal_separator"
    minimum_value = "@globals.country_minimum_value.toString"
    critical_value1 = "@globals.country_critical_value1.toString"
    critical_value2 = "@globals.country_critical_value2.toString"
    fee_deposit_percent = "@globals.country_fee_deposit_percent.toString"
    ></input>


    <div class="clearfix"></div>
    <div class="row">

            <!-- Start of form -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel" style="@globals.country_appearance1">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-file-text-o"></i> &nbsp; @Messages("directpay.deposit.submitdepositreceipt")</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-3 col-xs-6">@Messages("terminology.value") (@globals.country_currency_symbol) <span class="required">*</span>
                            </label>
                            <div class="col-md-4 col-sm-3">
                                <input id="value" class="form-control col-md-3 col-xs-6 triggers_fee_calculation" required="required" type="text" title="@Messages("terminology.value")">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-md-4 control-label" for="doc1">@Messages("directpay.deposit.depositreceipt") <span class="required">*</span></label>
                            <div class="col-sm-8 col-md-8">
                                <div class="input-group"><input type="text" class="form-control" id="doc1" name="doc1" title="@Messages("directpay.usersettings.selectpictureofdocument") @Messages("directpay.usersettings.supportedfiletypes")">
                                    <span class="input-group-btn"><button type="button" class="btn btn-info">@Messages("directpay.usersettings.browsebutton")</button></span>
                                </div>
                            </div>
                        </div>
                        @if(globals.country_fee_deposit_percent != 0) {<p align="right">@Messages("terminology.calculatedfee"): <span class="calc_destak_info">@globals.country_currency_symbol </span><span id="calc_deposit_fee" class="calc_destak_info"></span></p>}
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary triggers_submit">@Messages("terminology.submit")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <!-- End of form -->


            <!-- Instructions -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="x_panel" style="@globals.country_appearance2">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-book"></i> &nbsp; @Messages("terminology.instructions")</h2>
                    <ul class="nav navbar-right panel_toolbox"><li><a class="collapseExtraInfo-link" title="@Messages("terminology.extrainformation")"><i class="fa fa-plus-square-o"></i></a></li><li><a class="collapse-link" title="@Messages("terminology.minimizethisboard")"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link" title="@Messages("terminology.closethisboard")"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p>@Messages("directpay.deposit.shortinfo1"):</p>

                    <table id="table_preferential_banks" class="table table-striped responsive">
                        <thead>
                            <tr>
                                <th>@Messages("terminology.bank")</th>
                                <th>@Messages("terminology.agency")</th>
                                <th>@Messages("terminology.account")</th>
                                <th>@Messages("terminology.info")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(globals.country_preferential_bank1_name != "") {
                            <tr>
                                <td>@globals.country_preferential_bank1_name</td>
                                <td>@globals.country_preferential_bank1_agency</td>
                                <td>@globals.country_preferential_bank1_account</td>
                                <td>@globals.country_preferential_bank1_reference</td>
                            </tr>
                        }
                        @if(globals.country_preferential_bank2_name != "") {
                            <tr>
                                <td>@globals.country_preferential_bank2_name</td>
                                <td>@globals.country_preferential_bank2_agency</td>
                                <td>@globals.country_preferential_bank2_account</td>
                                <td>@globals.country_preferential_bank2_reference</td>
                            </tr>
                        }
                        @if(globals.country_preferential_bank3_name != "") {
                            <tr>
                                <td>@globals.country_preferential_bank3_name</td>
                                <td>@globals.country_preferential_bank3_agency</td>
                                <td>@globals.country_preferential_bank3_account</td>
                                <td>@globals.country_preferential_bank3_reference</td>
                            </tr>
                        }
                        @if(globals.country_preferential_bank4_name != "") {
                            <tr>
                                <td>@globals.country_preferential_bank4_name</td>
                                <td>@globals.country_preferential_bank4_agency</td>
                                <td>@globals.country_preferential_bank4_account</td>
                                <td>@globals.country_preferential_bank4_reference</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <br>
                    <p>@Messages("directpay.deposit.shortinfo2", globals.country_currency_symbol, globals.country_critical_value2):</p>
                    <p>@Messages("directpay.deposit.shortinfo3")</p>
                    @if(globals.country_fee_deposit_percent != 0) { <p>@Messages("directpay.deposit.depositfee"): <span class="calc_mid_destak_info">@globals.country_fee_deposit_percent %</span></p> }

                    <div class="x_extrainfo_content" style="display: none;">
                        <br><span class="text_additional_info">@Messages("directpay.overview.additionalinfo")</span>
                        <p>@Messages("directpay.deposit.explanation1")</p>
                        <p>@Messages("directpay.deposit.explanation2")</p>
                        @if(globals.country_fee_deposit_percent != 0) {
                            @if(globals.country_minimum_value != 0) {
                                <p>@Messages("directpay.deposit.explanation2", globals.country_currency_symbol, globals.country_currency_crypto)</p>
                                <p>@Messages("directpay.deposit.explanation3a") @globals.country_currency_symbol <span id="calc_deposit_minimum_value"></span> @Messages("directpay.deposit.explanation3b") @globals.country_currency_symbol <span id="calc_deposit_minimum_value_extra_fee"></span></p>
                            }
                        } else {<p>@Messages("directpay.overview.nofeesarecharged")</p>}
                        </div>
                </div>
            </div>
        </div>
            <!-- end of Instructions -->

    </div>





    <div class="disclaimer-text">
        <br>
        <p>@Messages("terminology.disclaimer"):</p>
        <p>@Messages("directpay.deposit.disclaimer1")</p>
        <p>@Messages("directpay.deposit.disclaimer2")</p>
    </div>
    <div class="clearfix"></div>
    <!-- /page content -->



}
