@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@import securesocial.core.UsernamePasswordProvider
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/history.js")" xmlns="http://www.w3.org/1999/html"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.history.label"), "dashboard", scripts) {
        <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-list"> &nbsp;</i> @Messages("chrome.exchange.navigation.history.label")</h3>
        </div>
    </div>


    <input type="hidden" id="hidden_fees_information" decimal_separator = "@globals.country_decimal_separator">

    <div class="clearfix"></div>
    <div class="row">
            <!-- Start of form -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="@globals.country_appearance1">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-list"></i> &nbsp; @Messages("directpay.history.usersoperationshistory")</h2>
                    <ul class="nav navbar-right panel_toolbox"><li><a class="collapse-link" title="@Messages("terminology.minimizethisboard")"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link" title="@Messages("terminology.closethisboard")"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p id="orders-script-position"></p>  <!-- Script for searched orders is called here -->
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <div class="row">
            <!-- Start of form -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" style="@globals.country_appearance1">
                <div class="x_title">
                    <h2 style="overflow: visible;"><i class="fa fa-bookmark"></i> &nbsp; @Messages("directpay.history.loghistory")</h2>
                    <ul class="nav navbar-right panel_toolbox"><li><a class="collapse-link" title="@Messages("terminology.minimizethisboard")"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link" title="@Messages("terminology.closethisboard")"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p id="log-script-position"></p>  <!-- Script for searched orders is called here -->
                </div>
            </div>
        </div>
    </div>


        <!-- Modal page for order details -->
    <div id="popupDetails" class="overlay">
        <div id="popupInfoDiv" class="popup">
            <div class="title_left">
                <h3><i class="fa fa-newspaper-o"> &nbsp;</i> @Messages("directpay.history.imagedetails")</h3>
            </div>
            <h2><span id="popUpPictureTitle"></span></h2>
            <input type="hidden" id="hidden_order_id">
            <div id="buttonsDiv" class="popupTopButtons">
                <button id="btnZoomIn" type="button" class="btn btn-default btn-xs" title="@Messages("directpay.legend.zoomin")"><i class="fa fa-search-plus"></i></button><button id="btnZoomOut" type="button" class="btn btn-default btn-xs" title="@Messages("directpay.legend.zoomout")"><i class="fa fa-search-minus"></i></button> &nbsp; &nbsp; &nbsp;
            </div>
            <a class="popupClose" href="#">&times;</a>
            <input type="hidden" id="popUpPictureDoc1" value="@Messages(globals.country_doc1_name)"><input type="hidden" id="popUpPictureDoc2" value="@Messages(globals.country_doc2_name)"><input type="hidden" id="popUpPictureDoc3" value="@Messages(globals.country_doc3_name)"><input type="hidden" id="popUpPictureDoc4" value="@Messages(globals.country_doc4_name)"><input type="hidden" id="popUpPictureDoc5" value="@Messages(globals.country_doc5_name)">
            <p><img src="placeholder" id="the_picture"></p>
            <p><span id="popUpPictureInfo3"></span></p>
            <div id="div_details" frameborder="0" border="0" cellspacing="0" style="display: block; border-style: none; resize: both;"></div>
        </div>
    </div>
        <!-- end of Modal page for order details -->



        <!-- orders list script -->
    <script id="orders-script-template" type="text/x-handlebars-template">
        <table id="table_orders" class="table table-striped responsive jambo_table bulk_action">
            <thead>
                <tr>
                    <th>@Messages("terminology.type")</th>
                    <th>@Messages("terminology.status")</th>
                    <th>@Messages("terminology.created")</th>
                    <th>@Messages("terminology.requested")</th>
                    <th>@Messages("terminology.executed")</th>
                    <th>@Messages("terminology.value")</th>
                    <th>@Messages("terminology.fee")</th>
                    <th>@Messages("terminology.comment")</th>
                    <th>@Messages("directpay.admin.orderslist.doc")</th>
                    <th>@Messages("directpay.history.sum", globals.country_currency_symbol)</th>
                    <th>@Messages("directpay.history.sum", globals.country_currency_crypto)</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr id="{{order_id}}">
                    <td {{class_type}} title="@Messages("directpay.admin.orderslist.orderID") = {{order_id}}, {{explained_type}}">{{order_type}}</td>
                    <td {{class_status}} title="@Messages("terminology.status") = {{explained_status}}">{{status}}</td>
                    <td>{{created}}</td>
                    <td style="text-align: right;">{{initial_value_s}}</td>
                    <td>{{closed}}</td>
                    <td {{class_value}} style="text-align: right;">{{net_value_s}}</td>
                    <td style="text-align: right;">{{total_fee_s}}</td>
                    <td>{{comment}}</td>
                    <td><a href="#popupDetails" id="requestPopupDetails" class="{{popupType}}" order_id="{{order_id}}" image_id="{{image_id}}" doc1="{{doc1}}" user="{{first_name}} {{middle_name}} {{last_name}}" email="{{email}}" type="{{order_type}}" initial_value="{{initial_value}}" fee="{{total_fee}}" title="{{doc1}}">{{doc1}}</a></td>
                    <td style="text-align: right;">###</td>
                    <td style="text-align: right;">###</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
        <!-- end of orders list script -->


        <!-- Instructions -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="@globals.country_appearance2">
            <div class="x_title">
                <h2 style="overflow: visible;"><i class="fa fa-book"></i> &nbsp; @Messages("directpay.legend")</h2>
                <ul class="nav navbar-right panel_toolbox"><li><a class="collapse-link" title="@Messages("terminology.minimizethisboard")"><i class="fa fa-chevron-up"></i></a></li><li><a class="close-link" title="@Messages("terminology.closethisboard")"><i class="fa fa-close"></i></a></li></ul><div class="clearfix"></div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="x_content">
                <!-- Order type Legend table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="6">@Messages("directpay.legend.ordertype")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class=bgn_green width="50">D</td>
                                <td>@Messages("directpay.legend.deposit")</td>
                                <td class=center_bold width="50">R</td>
                                <td>@Messages("directpay.legend.receivefrompartner")</td>
                                <td class=bgn_blue width="50">V</td>
                                <td>@Messages("directpay.legend.documentverification")</td>
                            </tr>
                            <tr>
                                <td class=center_bold>C</td>
                                <td>@Messages("directpay.legend.convertto") @globals.country_currency_crypto</td>
                                <td class=center_bold>F</td>
                                <td>@Messages("directpay.legend.convertto") @globals.country_currency_symbol</td>
                                <td class=bgn_green>DCS</td>
                                <td>@Messages("directpay.legend.depositandsend")</td>
                            </tr>
                            <tr>
                                <td class=center_bold>S</td>
                                <td>@Messages("directpay.legend.sendtopartner")</td>
                                <td class=bgn_yellow>W</td>
                                <td>@Messages("directpay.legend.withdraw")</td>
                                <td class=bgn_yellow>RFW</td>
                                <td>@Messages("directpay.legend.receiveandwithdraw")</td>
                            </tr>
                        </tbody>
                    </table>
                        <!-- end of Order type Legend table -->
                </div>
            </div>


            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="x_content">
                        <!-- Status Legend table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="6">@Messages("directpay.legend.orderstatus")</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class=bgn_yellow width="50">Op</td>
                                <td>@Messages("directpay.legend.openorder")</td>
                                <td class=bgn_green width="50">OK</td>
                                <td>@Messages("directpay.legend.orderexecuted")</td>
                            </tr>
                            <tr>
                                <td class=bgn_brown>Lk</td>
                                <td>@Messages("directpay.legend.lockedinprocess")</td>
                                <td class=bgn_blue>Ch</td>
                                <td>@Messages("directpay.legend.executionmodified")</td>
                            </tr>
                            <tr>
                                <td class=center_bold>S</td>
                                <td>@Messages("directpay.legend.sendingtopartner")</td>
                                <td class=bgn_red>Rj</td>
                                <td>@Messages("directpay.legend.orderrejected")</td>
                            </tr>
                        </tbody>
                    </table>
                        <!-- end of Status Legend table -->
                </div>
            </div>
        </div>
    </div>
        <!-- end of Instructions -->


        <!-- log list script -->
    <script id="log-script-template" type="text/x-handlebars-template">
        <table id="table_orders" class="table table-striped responsive jambo_table bulk_action">
            <thead>
                <tr>
                    <th>@Messages("terminology.created")</th>
                    <th>@Messages("terminology.type")</th>
                    <th>@Messages("terminology.ipaddress")</th>
                </tr>
            </thead>
            <tbody>
                {{#each this}}
                <tr>
                    <td>{{created}}</td>
                    <td>{{type}}</td>
                    <td>{{ip}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
        <!-- end of log list script -->

}