@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
    <script src="@routes.Assets.at("js/exchange_index.js?v=1.0.0.1")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.dashboard.title"), "dashboard", scripts) {
        <!-- page content -->
    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-download"> &nbsp;</i> @Messages("terminology.receive")</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="balance" class="x_panel">
                <div class="x_title"><h2> @Messages("terminology.receive")</h2><div class="clearfix"></div></div>
                <div class="x_content">
                    <script id="balance-template" type="text/x-handlebars-template">
                        <table id="table_balance" class="table table-striped responsive">
                            <thead>
                                <tr>
                                    <th width="25%">@Messages("terminology.currency")</th>
                                    <th width="25%">@Messages("terminology.total")</th>
                                    <th class="hidden-xs" width="20%">@Messages("terminology.hold")</th>
                                    <th width="30%">@Messages("terminology.available")</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each this}}
                                <tr id="currency={{currency}}">
                                    <td width="25%"><a class="show-menu" href="#" currency-id="{{currency}}"><img src="@routes.Assets.at("img/{{currency}}.png")" height="20px" width="20px"> {{currency}}</td>
                                    <td width="25%">{{amount}}</td>
                                    <td class="hidden-xs" width="20%">{{hold}}</td>
                                    <td width="30%">{{available}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </script>

                </div>
            </div>
        </div>
    </div>

}
