@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@import securesocial.core.UsernamePasswordProvider
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("../../../../public/js/user_list.js")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.account.title"), "user", scripts) {
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">@Messages("exchange.account.info.title")</div>
                <div class="panel-body">
                    <p id="user-info"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Users <small>Search for Funds > 500</small></h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="table-responsive">
                    <table id="table_users" class="table table-striped responsive jambo_table bulk_action">
                        <thead>
                            <tr>
                                <th>@Messages("terminology.email")</th>
                                <th>@Messages("terminology.name")</th>
                                <th>@globals.country_currency_symbol</th>
                                <th>@globals.country_currency_crypto</th>
                                @if(globals.country_doc1_required) { <th>@globals.country_doc1_name</th> }
                                @if(globals.country_doc2_required) { <th>@globals.country_doc2_name</th> }
                                @if(globals.country_doc3_required) { <th>@globals.country_doc3_name</th> }
                                @if(globals.country_doc4_required) { <th>@globals.country_doc4_name</th> }
                                @if(globals.country_doc5_required) { <th>@globals.country_doc5_name</th> }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">ereregAtoimf</a></td>
                                <td>Ademar Lourenço</td>
                                <td>34.98</td>
                                <td>769.00897</td>
                                @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a href="#">doc1</a>} else {555.666.777.888-99}</td> }
                                @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a href="#">doc2</a>} else {fgfghf}</td> }
                                @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a href="#">doc3</a>} else {fghf}</td> }
                                @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a href="#">doc4</a>} else {(15) 3305-3384}</td> }
                                @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a href="#">doc5</a>} else {fh}</td> }
                            </tr>
                            <tr>
                                <td><a href="#">\dfgeraAtoimf</a></td>
                                <td>Julio Franco</td>
                                <td>850.00</td>
                                <td>13.98788</td>
                                @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a href="#">doc1</a>} else {555.666.777.888-99}</td> }
                                @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a href="#">doc2</a>} else {fgfghf}</td> }
                                @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a href="#">doc3</a>} else {fghf}</td> }
                                @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a href="#">doc4</a>} else {(15) 3305-3384}</td> }
                                @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a href="#">doc5</a>} else {fh}</td> }
                            </tr>
                            <tr>
                                <td><a href="#">edgfbaAtoerbaaeaervbf</a></td>
                                <td>Rodrigo Augusto Fortes</td>
                                <td>528.98</td>
                                <td>0.61221</td>
                                @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a href="#">doc1</a>} else {555.666.777.888-99}</td> }
                                @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a href="#">doc2</a>} else {fgfghf}</td> }
                                @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a href="#">doc3</a>} else {fghf}</td> }
                                @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a href="#">doc4</a>} else {(15) 3305-3384}</td> }
                                @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a href="#">doc5</a>} else {fh}</td> }
                            </tr>
                            <tr>
                                <td><a href="#">avervATervbf</a></td>
                                <td>Jorge Emanoel Ribeiro</td>
                                <td class="bgn_yellow">88090.63</td>
                                <td>155.98211</td>
                                @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a href="#">doc1</a> <i class="fa fa-check"></i>} else {555.666.777.888-99  <i class="fa fa-check"></i>}</td> }
                                @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a href="#">doc2</a> <i class="fa fa-check"></i>} else {fgfghf  <i class="fa fa-check"></i>}</td> }
                                @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a href="#">doc3</a> <i class="fa fa-check"></i>} else {fghf  <i class="fa fa-check"></i>}</td> }
                                @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a href="#">doc4</a> <i class="fa fa-check"></i>} else {(15) 3305-3384 <i class="fa fa-check"></i>}</td> }
                                @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a href="#">doc5</a> <i class="fa fa-check"></i>} else {fh <i class="fa fa-check"></i>}</td> }
                            </tr>
                            <tr>
                                <td><a href="#">fhnrsATv53v</a></td>
                                <td>Eduardo</td>
                                <td>33.56</td>
                                <td>699.09988</td>
                                @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a href="#">doc1</a> <i class="fa fa-eye-open"></i>} else {555.666.777.888-99  <i class="fa fa-eye-open"></i>}</td> }
                                @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a href="#">doc2</a> <i class="fa fa-eye-open"></i>} else {fgfghf  <i class="fa fa-eye-open"></i>}</td> }
                                @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a href="#">doc3</a> <i class="fa fa-check"></i>} else {fghf  <i class="fa fa-check"></i>}</td> }
                                @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a href="#">doc4</a> <i class="fa fa-eye-open"></i>} else {(15) 3305-3384 <i class="fa fa-eye-open"></i>}</td> }
                                @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a href="#">doc5</a> <i class="fa fa-check"></i>} else {fh <i class="fa fa-check"></i>}</td> }
                            </tr>
                            <tr>
                                <td><a href="#">edgfbaAtovbf</a></td>
                                <td>Lucia Marques da Costa</td>
                                <td>766.90</td>
                                <td>0.00000</td>
                                @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a href="#">doc1</a>} else {555.666.777.888-99}</td> }
                                @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a href="#">doc2</a>} else {fgfghf}</td> }
                                @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a href="#">doc3</a>} else {fghf}</td> }
                                @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a href="#">doc4</a>} else {(15) 3305-3384}</td> }
                                @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a href="#">doc5</a>} else {fh}</td> }
                            </tr>
                            <tr>
                                <td><a href="#">edgfbaAtove4ervbf</a></td>
                                <td>Robson Wnaderley</td>
                                <td>1330.00</td>
                                <td>0.56432</td>
                                @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a href="#">doc1</a>} else {555.666.777.888-99}</td> }
                                @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a href="#">doc2</a>} else {fgfghf}</td> }
                                @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a href="#">doc3</a>} else {fghf}</td> }
                                @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a href="#">doc4</a>} else {(15) 3305-3384}</td> }
                                @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a href="#">doc5</a>} else {fh}</td> }
                            </tr>
                        </tbody>
                    </table>
                </div>




                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" id="check-all" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </th>
                                <th class="column-title">Invoice </th>
                                <th class="column-title">Invoice Date </th>
                                <th class="column-title">Order </th>
                                <th class="column-title">Bill to Name </th>
                                <th class="column-title">Status </th>
                                <th class="column-title">Amount </th>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even pointer">
                                <td class=" ">

                                </td>
                                <td class="bgn_red">121000040</td>
                                <td class=" ">May 23, 2014 11:47:56 PM </td>
                                <td class=" ">121000210 <i class="success fa fa-long-arrow-up"></i></td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$7.45</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000039</td>
                                <td class=" ">May 23, 2014 11:30:12 PM</td>
                                <td class=" ">121000208 <i class="success fa fa-long-arrow-up"></i>
                                </td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$741.20</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000038</td>
                                <td class=" ">May 24, 2014 10:55:33 PM</td>
                                <td class=" ">121000203 <i class="success fa fa-long-arrow-up"></i>
                                </td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$432.26</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000037</td>
                                <td class=" ">May 24, 2014 10:52:44 PM</td>
                                <td class=" ">121000204</td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$333.21</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000040</td>
                                <td class=" ">May 24, 2014 11:47:56 PM </td>
                                <td class=" ">121000210</td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$7.45</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000039</td>
                                <td class=" ">May 26, 2014 11:30:12 PM</td>
                                <td class=" ">121000208 <i class="error fa fa-long-arrow-down"></i>
                                </td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$741.20</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000038</td>
                                <td class=" ">May 26, 2014 10:55:33 PM</td>
                                <td class=" ">121000203</td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$432.26</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000037</td>
                                <td class=" ">May 26, 2014 10:52:44 PM</td>
                                <td class=" ">121000204</td>
                                <td class=" ">Mike Smith</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$333.21</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="even pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class="back_red">121000040</td>
                                <td class=" ">May 27, 2014 11:47:56 PM </td>
                                <td class=" ">121000210</td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$7.45</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                            <tr class="odd pointer">
                                <td class="a-center ">
                                    <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" class="flat" name="table_records" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                </td>
                                <td class=" ">121000039</td>
                                <td class=" ">May 28, 2014 11:30:12 PM</td>
                                <td class=" ">121000208</td>
                                <td class=" ">John Blank L</td>
                                <td class=" ">Paid</td>
                                <td class="a-right a-right ">$741.20</td>
                                <td class=" last"><a href="#">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script id="user-info-template" type="text/x-handlebars-template">
    <div class="panel-heading">@Messages("terminology.contacts")</div>
        <table id="table_users" class="table table-striped responsive">
            <thead>
                <tr>
                    <th width="25%">@Messages("form.first_name")</th>
                    <th width="25%">@Messages("form.first_name")</th>
                    <th width="25%">@Messages("form.last_name")</th>
                    <th width="20%">@Messages("form.middle_name")</th>
                    <th width="30%">@Messages("form.first_name")</th>
                </tr>
            </thead>
            <tbody>
            {{#each this}}
                <tr id="{{id}}">
                    <td width="25%">{{email}}</td>
                    <td width="25%">{{name}}</td>
                    <td width="25%">{{surname}}</td>
                    <td width="20%">{{middle_name}}</td>
                    <td width="30%">{{prefix}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </script>
}