@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@import securesocial.core.UsernamePasswordProvider
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/user_settings.js")"></script>
    <!-- jQuery Smart Wizard -->
    <script src="@routes.Assets.at("js/vendor/jquery.smartWizard.js")"></script>
    <!-- jquery.inputmask -->
    <script src="@routes.Assets.at("js/vendor/jquery.inputmask.bundle.js")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.account.title"), "user", scripts) {
<style>
.fileUpload { position: relative; overflow: hidden; margin: 10px; }
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0); }
</style>

        <!-- page content -->
    <!-- example image upl -->
<!--    <div class="panel panel-success">
        <div class="panel-heading">Image Upload</div>
        <div class="panel-body">
        helper.form(action = routes.Application.uploadImage, 'enctype -> "multipart/form-data") {
            CSRF.formField
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <input type="file" name="pictures" id="pictures" multiple="multiple">
            </span>

            <p>
                <input type="submit" class="btn btn-success">
            </p>
        }
        </div>
    </div>
-->

    <!-- example how read image -->
    <img src="@routes.Application.getimage("flagar.gif")">

    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-user"> &nbsp;</i> @Messages("exchange.account.info.title")</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="user_info" class="x_panel" style="@globals.country_appearance1">
                <div class="x_title"><h2><i class="fa fa-user"></i> &nbsp; @Messages("exchange.account.info.title")</h2><div class="clearfix"></div></div>
                <div class="x_content">
                        <!-- Beginning of the form -->
                    <p id="user-reg-one"></p>
                    <script id="user-reg-one-template" type="text/x-handlebars-template">
                        <!-- Tabs -->
                        <div id="wizard_verticle" class="form_wizard wizard_verticle">
                            <ul class="list-unstyled wizard_steps">
                                <li>
                                    <a href="#step-1">
                                        <span class="step_no">1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-2" class="done" isdone="1">
                                        <span class="step_no">2</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#step-3" class="done" isdone="1">
                                        <span class="step_no">3</span>
                                    </a>
                                </li>
                            </ul>

                                <!-- step 1 - Account Info -->
                            <div id="step-1">
                                <form class="form-horizontal form-label-left">
                                    <span class="section">@Messages("directpay.usersettings.step1.title")</span>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3" for="name">@Messages("directpay.usersettings.fullname.item") <span class="required">*</span></label>
                                            <div class="col-md-3 col-sm-3"><input type="text" id="first_name" name="first_name" value="{{first_name}}" placeholder="@Messages("directpay.usersettings.firstname.placeholder")" title="@Messages("directpay.usersettings.firstname.title")" required="required" class="form-control col-md-7 col-xs-12"></div>
                                            <div class="col-md-3 col-sm-3"><input type="text" id="middle_name" name="middle_name" value="{{middle_name}}" placeholder="@Messages("directpay.usersettings.midname.placeholder")" title="@Messages("directpay.usersettings.midname.title")" class="form-control col-md-7 col-xs-12"></div>
                                            <div class="col-md-3 col-sm-3"><input type="text" id="last_name" name="last_name" value="{{last_name}}" placeholder="@Messages("directpay.usersettings.lastname.placeholder")" title="@Messages("directpay.usersettings.lastname.title")" required="required" class="form-control col-md-7 col-xs-12"></div>
                                        </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3" for="email">@Messages("directpay.usersettings.email.item") <span class="required">*</span></label>
                                        <div class="col-md-5 col-sm-5"><input type="text" id="email" name="email" title="@Messages("directpay.usersettings.email.title")" required="required" class="form-control col-md-7 col-xs-12"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3" for="password">@Messages("directpay.usersettings.password.item") <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-3"><input type="password" id="password" name="password" title="@Messages("directpay.usersettings.password.title")" required="required" class="form-control col-md-7 col-xs-12"></div> @Messages("directpay.usersettings.password.title2")
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3" for="confirm_password">@Messages("directpay.usersettings.confirmpassword.item") <span class="required">*</span></label>
                                        <div class="col-md-3 col-sm-3"><input type="password" id="confirm_password" name="confirm_password" title="@Messages("directpay.usersettings.confirmpassword.title")" required="required" class="form-control col-md-7 col-xs-12"></div>
                                    </div>
                                    <div class="divider-dashed"></div>
                                    <p>@Messages("directpay.usersettings.step1.explanation1")</p>
                                </form>
                            </div>
                                <!-- step 2 - Personal Info -->
                            <div id="step-2">
                                <form class="form-horizontal form-label-left">
                                    <span class="section">@Messages("directpay.usersettings.step2.title")</span>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3" for="country">@Messages("directpay.usersettings.country.item")</label>
                                        <div class="col-md-3 col-sm-3 col-xs-3"><input type="text" id="country" name="country" title="@Messages("directpay.usersettings.country.title")"  disabled="disabled" value="@globals.country_name" class="form-control col-md-7 col-xs-12"></div>
                                    </div>
                                    @if(globals.country_doc1_required) {
                                        @if(globals.country_doc1_ispicture) {
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label" for="doc1">@globals.country_doc1_name <span class="required">*</span></label>
                                                <input type="hidden" id="uploadFile1" placeholder="Choose File" disabled="disabled" />
                                                <div id="uploadDiv1" class="fileUpload btn btn-info" style="top: -6px;">
                                                    <span id="uploadButtonCaption1" style="max-width: 250px; display: block; font-size: 12px">@Messages("terminology.browse")</span>
                                                    <input id="uploadBtn1" value="{{doc1}}" type="file" class="upload" />
                                                </div>
                                                <span id="uploadText1">{{doc1}}</span>
                                            </div>
                                        } else {
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3" for="doc1">@globals.country_doc1_name <span class="required">*</span></label>
                                                <div class="col-md-5 col-sm-5"><input type="text" id="doc1" name="doc1" value="{{doc1}}" title="@Messages("directpay.usersettings.documentrequired.title")" required="required" class="form-control col-md-7 col-xs-12"  data-inputmask="'mask' : '@globals.country_doc1_format'"></div>
                                            </div>
                                        }
                                    }
                                    @if(globals.country_doc2_required) {
                                        @if(globals.country_doc2_ispicture) {
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label" for="doc2">@globals.country_doc2_name <span class="required">*</span></label>
                                                <input type="hidden" id="uploadFile2" placeholder="Choose File" disabled="disabled" />
                                                <div id="uploadDiv2" class="fileUpload btn btn-info" style="top: -6px;">
                                                    <span id="uploadButtonCaption2" style="max-width: 250px; display: block; font-size: 12px">@Messages("terminology.browse")</span>
                                                    <input id="uploadBtn2" value="{{doc2}}" type="file" class="upload" />
                                                </div>
                                                <span id="uploadText2">{{doc2}}</span>
                                            </div>
                                        } else {
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3" for="doc2">@globals.country_doc2_name <span class="required">*</span></label>
                                                <div class="col-md-5 col-sm-5"><input type="text" id="doc2" name="doc2" value="{{doc2}}" title="@Messages("directpay.usersettings.documentrequired.title")" required="required" class="form-control col-md-7 col-xs-12"  data-inputmask="'mask' : '@globals.country_doc2_format'"></div>
                                            </div>
                                        }
                                    }
                                    @if(globals.country_doc3_required) {
                                        @if(globals.country_doc3_ispicture) {
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label" for="doc3">@globals.country_doc3_name <span class="required">*</span></label>
                                                <input type="hidden" id="uploadFile3" placeholder="Choose File" disabled="disabled" />
                                                <div id="uploadDiv3" class="fileUpload btn btn-info" style="top: -6px;">
                                                    <span id="uploadButtonCaption3" style="max-width: 250px; display: block; font-size: 12px">@Messages("terminology.browse")</span>
                                                    <input id="uploadBtn3" value="{{doc3}}" type="file" class="upload" />
                                                </div>
                                                <span id="uploadText3">{{doc3}}</span>
                                            </div>
                                        } else {
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3" for="doc3">@globals.country_doc3_name <span class="required">*</span></label>
                                                <div class="col-md-5 col-sm-5"><input type="text" id="doc3" name="doc3" value="{{doc3}}" title="@Messages("directpay.usersettings.documentrequired.title")" required="required" class="form-control col-md-7 col-xs-12"  data-inputmask="'mask' : '@globals.country_doc3_format'"></div>
                                            </div>
                                        }
                                    }
                                    @if(globals.country_doc4_required) {
                                        @if(globals.country_doc4_ispicture) {
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label" for="doc4">@globals.country_doc4_name <span class="required">*</span></label>
                                                <input type="hidden" id="uploadFile4" placeholder="Choose File" disabled="disabled" />
                                                <div id="uploadDiv4" class="fileUpload btn btn-info" style="top: -6px;">
                                                    <span id="uploadButtonCaption4" style="max-width: 250px; display: block; font-size: 12px">@Messages("terminology.browse")</span>
                                                    <input id="uploadBtn4" value="{{doc4}}" type="file" class="upload" />
                                                </div>
                                                <span id="uploadText4">{{doc4}}</span>
                                            </div>
                                        } else {
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3" for="doc4">@globals.country_doc4_name <span class="required">*</span></label>
                                                <div class="col-md-5 col-sm-5"><input type="text" id="doc4" name="doc4" value="{{doc4}}" title="@Messages("directpay.usersettings.documentrequired.title")" required="required" class="form-control col-md-7 col-xs-12"  data-inputmask="'mask' : '@globals.country_doc4_format'"></div>
                                            </div>
                                        }
                                    }
                                    @if(globals.country_doc5_required) {
                                        @if(globals.country_doc5_ispicture) {
                                            <div class="form-group">
                                                <label class="col-sm-3 col-md-3 control-label" for="doc5">@globals.country_doc5_name <span class="required">*</span></label>
                                                <input type="hidden" id="uploadFile5" placeholder="Choose File" disabled="disabled" />
                                                <div id="uploadDiv5" class="fileUpload btn btn-info" style="top: -6px;">
                                                    <span id="uploadButtonCaption5" style="max-width: 250px; display: block; font-size: 12px">@Messages("terminology.browse")</span>
                                                    <input id="uploadBtn5" value="{{doc5}}" type="file" class="upload" />
                                                </div>
                                                <span id="uploadText5">{{doc5}}</span>
                                            </div>
                                        } else {
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3" for="doc5">@globals.country_doc5_name <span class="required">*</span></label>
                                                <div class="col-md-5 col-sm-5"><input type="text" id="doc5" name="doc5" value="{{doc5}}" title="@Messages("directpay.usersettings.documentrequired.title")" required="required" class="form-control col-md-7 col-xs-12"  data-inputmask="'mask' : '@globals.country_doc5_format'"></div>
                                            </div>
                                        }
                                    }
                                    <div class="divider-dashed"></div>
                                    <p>@Messages("directpay.usersettings.step2.explanation1")</p>
                                    <p>@Messages("directpay.usersettings.step2.explanation2")</p>
                                </form>
                            </div>
                                <!-- step 3 - Financial Connections -->
                            <div id="step-3">
                                <form class="form-horizontal form-label-left">
                                    <span class="section">@Messages("directpay.usersettings.step3.title")</span>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Messages("directpay.usersettings.bank.item")</label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="hidden" id="hidden_bank" value="{{bank}}"></input>
                                            <select id="banks" class="form-control" title="@Messages("directpay.usersettings.bank.title")">
                                                <option value="00">@Messages("directpay.usersettings.notselected")</option>
                                                @if(globals.country_bank1_code != "") { <option value="@globals.country_bank1_code">@globals.country_bank1_code - @globals.country_bank1_name</option> }
                                                @if(globals.country_bank2_code != "") { <option value="@globals.country_bank2_code">@globals.country_bank2_code - @globals.country_bank2_name</option> }
                                                @if(globals.country_bank3_code != "") { <option value="@globals.country_bank3_code">@globals.country_bank3_code - @globals.country_bank3_name</option> }
                                                @if(globals.country_bank4_code != "") { <option value="@globals.country_bank4_code">@globals.country_bank4_code - @globals.country_bank4_name</option> }
                                                @if(globals.country_bank5_code != "") { <option value="@globals.country_bank5_code">@globals.country_bank5_code - @globals.country_bank5_name</option> }
                                                @if(globals.country_bank6_code != "") { <option value="@globals.country_bank6_code">@globals.country_bank6_code - @globals.country_bank6_name</option> }
                                                @if(globals.country_bank7_code != "") { <option value="@globals.country_bank7_code">@globals.country_bank7_code - @globals.country_bank7_name</option> }
                                                @if(globals.country_bank8_code != "") { <option value="@globals.country_bank8_code">@globals.country_bank8_code - @globals.country_bank8_name</option> }
                                                @if(globals.country_bank9_code != "") { <option value="@globals.country_bank9_code">@globals.country_bank9_code - @globals.country_bank9_name</option> }
                                                @if(globals.country_bank10_code != "") { <option value="@globals.country_bank10_code">@globals.country_bank10_code - @globals.country_bank10_name</option> }
                                                @if(globals.country_bank11_code != "") { <option value="@globals.country_bank11_code">@globals.country_bank11_code - @globals.country_bank11_name</option> }
                                                @if(globals.country_bank12_code != "") { <option value="@globals.country_bank12_code">@globals.country_bank12_code - @globals.country_bank12_name</option> }
                                                @if(globals.country_bank13_code != "") { <option value="@globals.country_bank13_code">@globals.country_bank13_code - @globals.country_bank13_name</option> }
                                                @if(globals.country_bank14_code != "") { <option value="@globals.country_bank14_code">@globals.country_bank14_code - @globals.country_bank14_name</option> }
                                                @if(globals.country_bank15_code != "") { <option value="@globals.country_bank15_code">@globals.country_bank15_code - @globals.country_bank15_name</option> }
                                                @if(globals.country_bank16_code != "") { <option value="@globals.country_bank16_code">@globals.country_bank16_code - @globals.country_bank16_name</option> }
                                                @if(globals.country_bank17_code != "") { <option value="@globals.country_bank17_code">@globals.country_bank17_code - @globals.country_bank17_name</option> }
                                                @if(globals.country_bank18_code != "") { <option value="@globals.country_bank18_code">@globals.country_bank18_code - @globals.country_bank18_name</option> }
                                                @if(globals.country_bank19_code != "") { <option value="@globals.country_bank19_code">@globals.country_bank19_code - @globals.country_bank19_name</option> }
                                                @if(globals.country_bank20_code != "") { <option value="@globals.country_bank20_code">@globals.country_bank20_code - @globals.country_bank20_name</option> }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3" for="agency">@Messages("directpay.usersettings.bankagency.item")</label>
                                        <div class="col-md-3 col-sm-3"><input type="text" id="agency" value="{{agency}} " name="agency" title="@Messages("directpay.usersettings.bankagency.title")" class="form-control col-md-7 col-xs-12"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3" for="account">@Messages("directpay.usersettings.bankaccount.item")</label>
                                        <div class="col-md-3 col-sm-3"><input type="text" id="account" value="{{account}}" name="account" title="@Messages("directpay.usersettings.bankaccount.title")" class="form-control col-md-7 col-xs-12"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Messages("terminology.partner")</label>
                                        <input type="hidden" name="hidden_partner1" value="@globals.country_partner1">
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <select class="form-control" id="partner" title="@Messages("directpay.usersettings.partner.title")">
                                                <option value="0">@Messages("directpay.usersettings.notselected")</option>
                                                @if(globals.country_partner1 != "Not Set") { <option value="@globals.country_partner1">@globals.country_partner1</option> }
                                                @if(globals.country_partner2 != "Not Set") { <option value="@globals.country_partner2">@globals.country_partner2</option> }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">@Messages("directpay.usersettings.automatic.item")</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <div class="checkbox"><label><input type="checkbox" name="automatic" title="@Messages("directpay.usersettings.automatic.title")" @if(!securesocial.core.SecureSocial.currentUser.get.manualauto_mode) { checked }> @Messages("directpay.usersettings.automatic.title2")</label></div>
                                        </div>
                                    </div>
                                    <div class="divider-dashed"></div>
                                    <p>@Messages("directpay.usersettings.step3.explanation1")</p>
                                    <p>@Messages("directpay.usersettings.step3.explanation2")</p>
                                    <p>@Messages("directpay.usersettings.step3.explanation3")</p>
                                    <p>@Messages("directpay.usersettings.step3.explanation4", globals.country_system_name)</p>
                                </form>
                            </div>
                        </div>
                    </script>
                        <!-- End of form -->
                </div>
            </div>
        </div>
    </div>


}