@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@scripts = {
        <script src="@routes.Assets.at("js/order_details.js")"></script>

}

@exchange._chrome(Messages("chrome.exchange.navigation.dashboard.title"), "dashboard", scripts) {
        <!-- example how read image -->
        <div id="balance">
                <script id="balance-template" type="text/x-handlebars-template">
                {{#each this}}
                <p><img src="@routes.Application.getimage("{{name}}")" text-align="center" id="the_picture_{{id}}" style="max-width: 800px;"></p>
                {{/each}}
                </script>
        </div>


}
