@(user: securesocial.core.SocialUser)(implicit request: RequestHeader, messages: Messages)

@import securesocial.core.UsernamePasswordProvider
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/users_list.js")"></script>
}

@exchange._chrome(Messages("chrome.exchange.navigation.account.title"), "user", scripts) {
        <!-- page content -->
    <style>
    #image-holder {
        width: 300px;
        left: 300px;
/*        height: auto;
        position: absolute;
        left: 0px;
        top: 0px; */
/*        display: none;*/
    }
    </style>




    <div class="page-title">
        <div class="title_left">
            <h3><i class="fa fa-user"> &nbsp;</i> @Messages("directpay.navigation.admin.userslist.title")</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="users_list" class="x_panel">
                <div class="x_title"><h2><i class="fa fa-users"></i> @Messages("directpay.navigation.admin.userslist.title")</h2><div class="clearfix"></div></div>
                <div class="x_content">
                    <div id="popupPic" class="overlay">
                        <div class="popup">
                            <h2><span id="popUpPictureTitle"></span></h2>
                            <div id="buttonsDiv" class="popupTopButtons"><button id="btnZoomIn" type="button" class="btn btn-default btn-xs" title="Zoom in"><i class="fa fa-search-plus"></i></button><button id="btnZoomOut" type="button" class="btn btn-default btn-xs" title="Zoom out"><i class="fa fa-search-minus"></i></button> &nbsp; &nbsp; &nbsp; <button id="btnApprove" type="button" class="btn btn-primary btn-xs" title="Approve document">Approve</button><button id="btnReject" type="button" class="btn btn-warning btn-xs" title="Reject document">Reject</button></div>
                            <a class="popupClose" href="#">&times;</a>
                            <input type="hidden" id="popUpPictureDoc1" value="@globals.country_doc1_name"><input type="hidden" id="popUpPictureDoc2" value="@globals.country_doc2_name"><input type="hidden" id="popUpPictureDoc3" value="@globals.country_doc3_name"><input type="hidden" id="popUpPictureDoc4" value="@globals.country_doc4_name"><input type="hidden" id="popUpPictureDoc5" value="@globals.country_doc5_name">
                            <div class="content">
                                <p>@Messages("terminology.user"): <span id="popUpPictureInfo1"></span></p>
                                <p>@Messages("terminology.email"): <span id="popUpPictureInfo2"></span></p>
                                <p><img id="image-holder" src="/assets/img/flags/pt.png" text-align="center"></p>
                                <p><span id="popUpPictureInfo3"></span></p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hidden_critical_value1" value="@globals.country_critical_value1">
                    <p id="users-list"></p> <!-- Script is called here -->
                </div>
            </div>
        </div>
    </div>





    <script id="users-list-template" type="text/x-handlebars-template">
        <table id="table_users_list" class="table table-striped responsive jambo_table bulk_action">
            <thead>
                <tr>
                    <th>@Messages("terminology.email")</th>
                    <th>@Messages("terminology.name")</th>
                    <th>@globals.country_currency_symbol</th>
                    <th>@globals.country_currency_crypto</th>
                    @if(globals.country_doc1_required) { <th>@globals.country_doc1_name</th> }
                    @if(globals.country_doc2_required) { <th>@globals.country_doc2_name</th> }
                    @if(globals.country_doc3_required) { <th>@globals.country_doc3_name</th> }
                    @if(globals.country_doc4_required) { <th>@globals.country_doc4_name</th> }
                    @if(globals.country_doc5_required) { <th>@globals.country_doc5_name</th> }
                </tr>
            </thead>
            <tbody>
            {{#each this}}
                <tr id="{{id}}">
                    <td title="@Messages("directpay.admin.userslist.userID") = {{id}}">{{email}}</td>
                    <td title="@Messages("directpay.admin.userslist.userID") = {{id}}">{{first_name}} {{middle_name}} {{last_name}}</td>
                    <td class="{{class_fiat}}">{{balance}}</td>
                    <td class="{{class_crypto}}">{{balance_c}}</td>
                    @if(globals.country_doc1_required) { <td>@if(globals.country_doc1_ispicture) {<a class="requestPopUp" name="{{doc1}}" href="#popupPic" user="{{first_name}} {{middle_name}} {{last_name}}" email="{{email}}" ver="{{ver1}}" doc="1" title="{{doc1}}">{{doc1}}</a>} else { {{doc1}} }<br> <i class="{{checked1}}"></i> </td> }
                    @if(globals.country_doc2_required) { <td>@if(globals.country_doc2_ispicture) {<a class="requestPopUp" name="{{doc2}}" href="#popupPic" user="{{first_name}} {{middle_name}} {{last_name}}" email="{{email}}" ver="{{ver2}}" doc="2" title="{{doc2}}">{{doc2}}</a>} else { {{doc2}} }<br> <i class="{{checked2}}"></i> </td> }
                    @if(globals.country_doc3_required) { <td>@if(globals.country_doc3_ispicture) {<a class="requestPopUp" name="{{doc3}}" href="#popupPic" user="{{first_name}} {{middle_name}} {{last_name}}" email="{{email}}" ver="{{ver3}}" doc="3" title="{{doc3}}">{{doc3}}</a>} else { {{doc3}} }<br> <i class="{{checked3}}"></i> </td> }
                    @if(globals.country_doc4_required) { <td>@if(globals.country_doc4_ispicture) {<a class="requestPopUp" name="{{doc4}}" href="#popupPic" user="{{first_name}} {{middle_name}} {{last_name}}" email="{{email}}" ver="{{ver4}}" doc="4" title="{{doc4}}">{{doc4}}</a>} else { {{doc4}} }<br> <i class="{{checked4}}"></i> </td> }
                    @if(globals.country_doc5_required) { <td>@if(globals.country_doc5_ispicture) {<a class="requestPopUp" name="{{doc5}}" href="#popupPic" user="{{first_name}} {{middle_name}} {{last_name}}" email="{{email}}" ver="{{ver5}}" doc="5" title="{{doc5}}">{{doc5}}</a>} else { {{doc5}} }<br> <i class="{{checked5}}"></i> </td> }
                </tr>
            {{/each}}
            </tbody>
        </table>
    </script>



}