@(title: String, scripts: Html = Html(""), styles: Html = Html(""), loggedIn: Boolean = false)(content: Html)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current

@navItem(url: String, icon: String, title:String) = {
    @if(request.path==url) {
        <li class="active">
    } else {
        <li>
    }
    <a href="@url" title="@title">
        <span class="sidebar-text">
        @if(request.path==url){
            <i class="glyphicon glyphicon-@icon"></i>
            @title
        } else {
            <span class="visible-xs visible-lg">
                <i class="glyphicon glyphicon-@icon"></i>
                @title
            </span>

            <span class="hidden-xs hidden-lg">
                <i class="glyphicon glyphicon-@icon"></i>
            </span>
        }
        </span>
    </a>
</li>
}

@navItemLang(url: String, icon: String, title:String) = {
@if(request.path==url) {
    <li class="active">
} else {
    <li>
    }
    <a href="@url">
    @if(request.path==url){
        <img src="@icon" height="30px" width="30px" class="submenu-title"> @title
    } else {
        <img src="@icon" height="30px" width="30px" class="submenu-title"> @title
        }
    </a>
</li>
}

@extraScripts = {
}

@extraStyles = {
}
<style>
    .site_title { font-size: 28px; font-weight: 500; color: @globals.country_appearance8 }
    .site_title:hover { color: @globals.country_appearance9 }
    .nav.navbar-nav > li > a { color: @globals.country_appearance10 }
    div.x_title { border-bottom: 3px solid #e6e9ed; }
    div.x_title > h2, h3 { color: @globals.country_appearance12; }
    .text_additional_info, .calc_destak_info, .calc_mid_destak_info, .calc_low_destak_info { color: @globals.country_appearance13; }
</style>

@_global_chrome(title, Html(scripts + extraScripts.body), Html(styles + extraStyles.body)) {
    <!-- Fixed navbar -->
    <nav class="navbar navbar-exchange navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header" style="@globals.country_appearance0">
                    <!-- Sidebar toggle button-->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo" href="@routes.Application.index()" style="@globals.country_appearance0; color: @globals.country_appearance8">
                    <span class="site_title"><i class="fa fa-play"></i> @globals.country_system_name @*play.api.Play.current.configuration.getString("application.name")*@</span>
                    <span style="display: none" class="logo-text-icon"> @globals.country_system_name @*play.api.Play.current.configuration.getString("application.name")*@</span>
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                @if(loggedIn){
                    @navItem(routes.Application.dashboard().url, "credit-card", Messages("chrome.exchange.navigation.dashboard.title"))
                    @navItem(routes.Application.user_settings().url, "floppy-disk", Messages("chrome.exchange.navigation.withdraw.lable"))
                    @navItem(routes.Application.users_list().url, "home", Messages("chrome.exchange.navigation.history.lable"))
                    @navItem(routes.Application.account().url, "user", Messages("chrome.exchange.navigation.account.title"))
                } else {
                    <li class="loggedout"><a href="@controllers.routes.LoginPage.login().absoluteURL(UsernamePasswordProvider.sslEnabled)"><i class="fa fa-sign-in"></i> &nbsp; @Messages("chrome.login")</a></li>
                    <li class="loggedout"><a href="@controllers.routes.Registration.startSignUp().absoluteURL(UsernamePasswordProvider.sslEnabled)"><i class="fa fa-user"></i> &nbsp; @Messages("chrome.signup")</a></li>
                }
                    <li class="dropdown" id="fat-menu">
                        <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#" id="langdrop">
                            <i class="fa fa-flag"></i> &nbsp; @Messages("terminology.language")
                            <span class="caret"></span>
                        </a>
                        <ul aria-labelledby="langdrop" class="dropdown-menu">
                            @for(lang <- Lang.availables) {
                                @navItemLang("/chlang/".concat(lang.code.toString), routes.Assets.at("img/flags/")+lang.language.concat(".png"), Messages("chrome.language."++ lang.language.toString))
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @content

}
