@(loggedIn: Boolean)(implicit request: RequestHeader, messages: Messages)
@import securesocial.core.UsernamePasswordProvider
@import helper._
@import securesocial.core.UsernamePasswordProvider
@import play.api.Play.current
@implicitFieldConstructor = @{ FieldConstructor(auth.inputFieldConstructor.f(_)(messages)) }

@scripts = {
    <script src="@routes.Assets.at("js/signup.js")"></script>
    <!-- Custom styles for this template -->
    <link href="@routes.Assets.at("css/carousel.css")" rel="stylesheet" type="text/css" />
}

@content._chrome("", scripts, loggedIn = loggedIn) {

<br><br><br>
    <div class="marketing">
        <!-- Carousel ================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active" style="@globals.country_appearance0">
                    <img class="first-slide" src="@routes.Assets.at("img/carusel/1.png")" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>@globals.country_system_name</h1><br>
                         <!--   <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>  -->
                            <p>@Messages("directpay.frontpage.carousel1.text1")</p>
                            <p><a class="btn btn-lg btn-primary" href="@controllers.routes.Registration.startSignUp().absoluteURL(UsernamePasswordProvider.sslEnabled)" role="button">@Messages("directpay.frontpage.carousel1.linktext1")</a></p>
                        </div>
                    </div>
                </div>
                <div class="item" style="@globals.country_appearance0">
                    <img class="second-slide" src="@routes.Assets.at("img/carusel/2.jpg")" alt="@Messages("directpay.frontpage.carousel2.linktext1")">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>@Messages("directpay.frontpage.carousel2.title")</h1><br>
                            <p>@Messages("directpay.frontpage.carousel2.text1")</p>
                            <p><a class="btn btn-lg btn-success" href="@Messages("directpay.frontpage.carousel2.link1")" role="button">@Messages("directpay.frontpage.carousel2.linktext1")</a></p>
                        </div>
                    </div>
                </div>
                <div class="item" style="@globals.country_appearance0">
                    <img class="third-slide" src="@routes.Assets.at("img/carusel/3.jpg")" alt="@Messages("directpay.frontpage.carousel3.linktext1")">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>@Messages("directpay.frontpage.carousel3.title")</h1><br>
                            <p>@Messages("directpay.frontpage.carousel3.text1", globals.country_system_name)</p>
                            <p><a class="btn btn-lg btn-primary" href="@controllers.routes.Registration.startSignUp().absoluteURL(UsernamePasswordProvider.sslEnabled)" role="button">@Messages("directpay.frontpage.carousel3.linktext1")</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="@Messages("terminology.previous")"></span>
                <span class="sr-only">@Messages("terminology.previous")</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="@Messages("terminology.next")"></span>
                <span class="sr-only">@Messages("terminology.next")</span>
            </a>
        </div>
        <!-- /.carousel -->


 <!--
        <div class="content">
        @if(!loggedIn){
            <div id="signup-wrap">
                <div class="text-center">
                    <form id="signup-form" class="form-inline" action="@controllers.routes.Registration.handleStartSignUp().absoluteURL(UsernamePasswordProvider.sslEnabled)" autocomplete="off" method="post">
                        @CSRF.formField
                        <div class="form-group sign-up-text">Sign up for our beta:</div>
                        <div class="form-group" id="email_field">
                            <label class="sr-only" for="email"></label>
                            <div class="controls">
                                <input id="email" name="email" value="" class="form-control" type="text" placeholder="@Messages("auth.signup.email1")">
                            </div>
                        </div>
                        <div class="form-group" id="email2_field">
                            <div class="controls">
                                <input id="email2" name="email2" value="" class="form-control" type="text" placeholder="@Messages("auth.signup.email2")">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" title="@Messages("auth.signup.createAccount")"><i class="fa fa-user" style="font-size: 14px;"></i> &nbsp; @Messages("chrome.signup")</button>
                    </form>
                </div>
            </div>
        }

-->

        <div class="container">
                <div class="row">
                    @request.flash.get("success").map { msg =>
                        <div class="alert alert-info">
                            @msg
                        </div>
                    }
                    @request.flash.get("error").map { msg =>
                        <div class="alert alert-danger">
                            @Messages(msg)
                        </div>
                    }
                </div>
            </div>

        @if(!loggedIn){
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
                    <div id="login-wrap">
                        <div class="text-center">
                            <div class="form-inline">
                                <form action = "@routes.ProviderController.loginPost().url" autocomplete="off" method="POST">
                                    @views.html.helper.CSRF.formField
                                    <div class="form-group" id="username_field">
                                        <div class="controls">
                                            <input type="text" id="username" name="username" value="" placeholder="@Messages("auth.signup.email1")" class="form-control" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="form-group" id="password_field">
                                        <div class="controls">
                                            <input type="password" id="password" name="password" placeholder="@Messages("terminology.password")" class="form-control" autocomplete="off"/>
                                        </div>
                                    </div>
                            <!-- this combobox is temporary. In the future it will come from "which domain was accessed - or hidden field -->
                                    <div class="form-group" id="country_field">
                                        <select class="form-control" id="user_country" name="user_country">
                                            <option value="br" selected>br</option>
                                            <option value="us">us</option>
                                            <option value="eu">eu</option>
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary" title="@Messages("terminology.login")"><i class="fa fa-sign-in" style="font-size: 16px;"></i> &nbsp; @Messages("auth.login.title")</button>
                                    <br>
                                    <p style="@globals.country_appearance9">@Messages("directpay.frontpage.notyetsignedup") &nbsp; <button type="submit" class="btn btn-primary" style="padding: 4px 12px;" title="@Messages("auth.signup.createAccount")"><i class="fa fa-user" style="font-size: 14px;"></i> &nbsp; @Messages("chrome.signup")</button></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

}
